<div class="jumbotron mt-4 rounded">
  <h1 class="display-4">Notes App Stack MEVN.</h1>
  <h3 class="display-6"> mongodb, express, vue.js, node.js </h3>
  <p class="lead mt-4 d-none d-md-block">Esta es una aplicacion creada por que si, se dio la gana, en un tiempo de ocio donde el jefe no
    miraba, pero Shh!...</p>
  <hr class="my-4">
  <p>Asi que si vienen a mirarla por favor tambien recomiendemen que debo de mejorarla o que ideas seria bueno para
    agregarle, Gracias.
  </p>
  <a class="btn btn-danger btn-lg rounded" href="/users/signup" role="button">Go!  </a>
</div>
  <footer class="display-5 text-light mt-50 text-center d-none d-md-block">:> Agradecer los tutoriales de Fazt el cabrón  enseña reebien deberian de aprender los profesores de él <:</footer>
